.node {
	width: 1.95vw;
	height: 1.9vw;
}
.node-row {
	display: flex;
	flex-direction: row;
}
.visited {
	animation-name: visited;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes visited {
	0% {
		transform: scale(0.1);
		background-color: #b800b8;
		border-radius: 100%;
	}
	100% {
		transform: scale(1);
		background-color: #00b8b8;
	}
}
.path {
	background-color: yellow;
}
.none {
	background-color: white;
}
.wall {
	background-color: black;
}
.weight {
	background-color: #00a3ff;
}
.start {
	background-color: #00a300;
}
.finish {
	background-color: #a30000;
}
